@import "/src/styles/variables";
@import "~bootstrap/scss/mixins";

.template {
  min-height: calc(100vh - 200px);
  overflow-y: auto;

  :global(.notice-choice) {
    margin-top: var(--spacer-1) !important;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: var(--spacer-7) !important;
  margin-bottom: var(--spacer-8) !important;

  @media (max-width: 1150px) {
    flex-direction: column;
    align-items: center;
  }

  img {
    object-fit: contain;
    max-width: 680px;
    max-height: 419px;

    @media (max-width: 1350px) {
      width: 550px;
      height: 350px;
    }

    @media (max-width: 1150px) {
      width: 100%;
      height: 100%;
      margin-bottom: var(--spacer-6);
    }
  }

  @include media-breakpoint-down(lg) {
    margin: var(--spacer-4) 0px var(--spacer-8) !important;
  }

  @include media-breakpoint-down(md) {
    padding: 0px 24px;
  }
}

.left {
  padding-right: var(--spacer-4);

  @media (max-width: 1150px) {
    padding-right: 0px;
  }
}

.right {
  max-width: 500px;
  padding: 40px;
  display: flex;
  border-radius: 20px;
  border: 1px solid var(--color-gray-Gray-700, #4a4a4a);
  background: var(--color-brand-Black, #000);
  height: fit-content;

  @media (max-width: 1150px) {
    width: 100%;
    height: 100%;
    max-width: 600px;
  }
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
}

.urx {
  margin-top: var(--spacer-2);
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__title {
    color: var(--interface-light-gray-75);
    font-size: 1.5rem !important;
  }
}

.heading {
  color: var(--primary-white);
  font-weight: 400 !important;
  line-height: 120% !important;
  letter-spacing: -0.48px !important;
  margin-bottom: var(--spacer-3) !important;

  @include media-breakpoint-down(md) {
    font-size: 32px !important;
  }
}

.subtitle {
  max-width: 620px;
  font-size: 18px !important;
  font-weight: 300 !important;
  line-height: 140% !important;
  margin-bottom: var(--spacer-3) !important;

  @include media-breakpoint-down(md) {
    max-width: 100%;
  }
}
