@import "/src/styles/variables";
@import "~bootstrap/scss/mixins";

.template {
  background-image: url("/images/new-desktop.webp");
  background-size: cover;
  background-position: center center;
  background-color: var(--primary-black);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-y: auto;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  @include media-breakpoint-down(sm) {
    background: none;
  }
}
.container {
  max-width: 1800px !important;
}
.content {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 94px;
  h1 {
    font-size: 120px !important;
    font-weight: 500 !important;
    font-family: var(--font-body) !important;
  }
  @include media-breakpoint-down(xl) {
    h1 {
      font-size: 54px !important;
    }
    h6 {
      font-size: 29px !important;
    }
  }

  @include media-breakpoint-down(md) {
    flex-direction: column-reverse;
    gap: 30px;
    h1 {
      font-size: 48px !important;
    }
    h6 {
      font-size: 18px !important;
    }
  }
}

.description {
  font-size: 29px !important;
  font-weight: 300 !important;
  font-family: var(--font-body) !important;
  line-height: 140%;
  max-width: 928px;
  opacity: 0.8;
  @include media-breakpoint-down(xl) {
    max-width: 600px;
  }
  @include media-breakpoint-down(md) {
    max-width: 280px;
    padding-bottom: 20px;
  }
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 94px;
  @include media-breakpoint-down(md) {
    gap: 30px;
  }
}

.text {
  font-size: 100px !important;
  font-weight: 500 !important;
  font-family: var(--font-body) !important;
  max-width: 1800px;
}
