@import "/src/styles/variables";
@import "~bootstrap/scss/mixins";

.topbar {
  height: 56px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #3e64fe, #083a98);
  gap: 16px;
  @include media-breakpoint-down(sm) {
    height: fit-content;
    padding: 8px 32px;
  }
}

.textContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  a {
    text-decoration: underline;
    color: var(--primary-white) !important;
    font-family: var(--font-sf) !important;
    font-size: 15px !important;
  }
  @include media-breakpoint-down(sm) {
    flex-direction: row;
    align-items: flex-start;
    gap: 4px;
  }
}

.text {
  color: var(--primary-white) !important;
  font-family: var(--font-sf) !important;
  font-size: 15px !important;
}
