@import "/src/styles/variables";
@import "~bootstrap/scss/mixins";

.topbar {
  height: 56px;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to right,
    rgb(134, 239, 172),
    rgb(59, 130, 246),
    rgb(134, 239, 172)
  );
  background-size: 300% 100%;
  background-position: 0% 50%;
  gap: 16px;
  animation: waveGradient 30s ease-in-out infinite;
  @include media-breakpoint-down(sm) {
    height: fit-content;
    padding: 8px 32px;
  }

  a {
    text-decoration: underline;
  }

  svg {
    min-width: 20px;
    min-height: 20px;
  }
}

@keyframes waveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.textContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  a {
    text-decoration: underline;
    color: var(--primary-black) !important;
    font-family: var(--font-body) !important;
    font-size: 15px !important;
    font-weight: 600 !important;
  }
  @include media-breakpoint-down(sm) {
    flex-direction: row;
    align-items: flex-start;
    gap: 4px;
  }
}

.text {
  color: var(--primary-black) !important;
  font-family: var(--font-body) !important;
  font-size: 15px !important;
  font-weight: 600 !important;
}
