.blog-article-container {
  display: flex;
  gap: 20px;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
  }
}

.blog-article {
  width: 83.33%;
  max-width: 800px;

  @include media-breakpoint-down(lg) {
    width: 100%;
  }

  p {
    font-size: 1.2rem;
  }

  blockquote {
    font-size: 1.2rem;
    font-style: italic;
    border-left: 4px solid #fff;
    background-color: #fff2;
    padding: 1rem 1rem 1rem 2rem;
    margin: 0;
    border-radius: 0.5rem;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
  }

  ul,
  ol {
    list-style-position: outside !important;
    font-size: 1.2rem;
    padding-left: 1.2rem;
    margin: 1rem 0 !important;
    li {
      margin-bottom: 0.5em;
    }
  }

  + section:last-child {
    margin-bottom: 6rem;
  }
}

.other-posts {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
