@font-face {
  font-family: "Chivo";
  font-display: swap;
  font-weight: 100 900;
  src: url("./fonts/Chivo/Chivo-VariableFont_wght.ttf")
    format("truetype-variations");
}

@font-face {
  font-family: "Chivo";
  font-display: swap;
  font-style: italic;
  font-weight: 100 900;
  src: url("./fonts/Chivo/Chivo-Italic-VariableFont_wght.ttf")
    format("truetype-variations");
}

@font-face {
  font-family: "SF";
  font-display: swap;
  src: url("./fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 100 800;
  font-display: swap;
  src: url("./fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: 100 800;
  font-display: swap;
  src: url("./fonts/JetBrains/JetBrainsMono-VariableFont_wght.ttf")
    format("truetype-variations");
}

$font-body: "Chivo", sans-serif;
$font-sf: "SF", sans-serif;
$font-inter: "Inter", sans-serif;
$font-jet-brains: "JetBrains Mono", sans-serif;

$font-all: (
  "font-body": $font-body,
  "font-sf": $font-sf,
  "font-inter": $font-inter,
  "font-jet-brains": $font-jet-brains,
);

:root {
  @each $font, $family in $font-all {
    --#{$font}: #{$family};
  }
}
