.layout,
main.layout {
  display: flex;
  flex-direction: column;
}
body:has(.layout) {
  background-color: var(--primary-black);
  color: var(--primary-white);
}

.container-wide {
  @include make-container(48px);
  max-width: 1300px; 
  @include media-breakpoint-down(xxll) {
    max-width: 1180px;
  }
  @include media-breakpoint-down(xl) {
    max-width: 100%;
  }
  @include media-breakpoint-down(mlg) {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
