$grid-gutter-width: 24px;

// Notice: If you update the breakpoints here, don't forget to also update the breakpoints in the types/definitions.ts file.
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  mlg: 810px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxll: 1700px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1158px,
  xxl: 1216px,
);

$modal-fade-transform: translate(0, -50px) !default;
$modal-show-transform: none !default;
$modal-transition: transform 0.3s ease-out !default;
$modal-scale-transform: scale(1.02) !default;

$code-color: #000;
$link-decoration: none;

$footer-height: 164px;
