@import "/src/styles/variables";
@import "~bootstrap/scss/mixins";

.hero {
  background-color: var(--primary-black);
  color: var(--primary-white);
  padding: 100px 0;
  width: 100%;

  .content {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      align-items: center;
    }
  }

  .avatar {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--primary-white);
    flex-shrink: 0;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .name {
    color: var(--primary-white);
  }

  .location {
    color: var(--primary-white);
    opacity: 0.7;
  }

  .bio {
    color: var(--primary-white);
    opacity: 0.9;
    line-height: 1.6;
    max-width: 600px;
  }

  .social {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }

  .socialLink {
    color: var(--primary-white);
    opacity: 0.7;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }

    svg {
      display: block;
    }
  }
}


