@import "/src/styles/variables";
@import "~bootstrap/scss/mixins";

.template {
  display: flex;
  min-height: calc(100vh - 200px);
  flex-direction: column;
  overflow-y: auto;
  position: relative;
  background-color: var(--primary-black);
  background-image:
    linear-gradient(
      to bottom,
      transparent 40%,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 0) 80%,
      transparent 80%
    ),
    url("/images/new-desktop.png");
  background-size: 100% 80%;
  background-position: top center;
  background-repeat: no-repeat;
  @include media-breakpoint-down(lg) {
    min-height: calc(100vh - 240px);
    background: none;
  }

  :global(.company-typeahead) {
    input {
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      padding-right: 16% !important;

      @include media-breakpoint-down(sm) {
        padding-right: 20% !important;
      }

      @media (max-width: 420px) {
        padding-right: 25% !important;
      }
    }
  }

  :global(.notice-choice) {
    margin-top: 0px !important;
  }
}

.container {
  max-width: 1280px !important;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 126px;
  margin-bottom: 40px;

  @include media-breakpoint-down(xlg) {
    padding: 0px 20px;
  }

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    margin-top: 80px;
    padding: 0px 40px;
  }

  @include media-breakpoint-down(md) {
    padding: 0px 24px;
  }
}

.left {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.heading {
  font-size: 56px !important;
  font-weight: 500 !important;
  font-family: var(--font-body) !important;
  line-height: 115%;
  @include media-breakpoint-down(lg) {
    font-size: 44px !important;
  }

  @include media-breakpoint-down(md) {
    font-size: 32px !important;
  }
}

.imageContainer {
  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.imageHero {
  margin-top: 48px;
  object-fit: contain;
  width: 100%;
  height: auto;
  max-width: 680px;
  max-height: 442px;
}

.right {
  max-width: 500px;
  min-width: 500px;
  height: fit-content;
  padding: 40px;
  display: flex;
  border-radius: 20px;
  border: 1px solid var(--color-gray-Gray-700, #4a4a4a);
  background: var(--color-brand-Black, #000);
  @include media-breakpoint-down(lg) {
    max-width: 100%;
    min-width: 100%;
  }
  @include media-breakpoint-down(md) {
    padding: 24px;
  }
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: fit-content;
  width: 100%;
  h4 {
    font-size: 32px !important;
  }
  h6 {
    font-size: 18px !important;
  }
  @include media-breakpoint-down(md) {
    h4 {
      font-size: 24px !important;
    }
  }
}
