@import "/src/styles/variables";
@import "~bootstrap/scss/mixins";

.scrolled {
  margin-top: 94px !important;

  @include media-breakpoint-down(lg) {
    margin-top: 60px !important;
  }

  @include media-breakpoint-down(md) {
    margin-top: var(--spacer-4) !important;
  }
}

.template {
  display: flex;
  min-height: calc(100vh - 200px);
  flex-direction: column;
  overflow-y: auto;
  position: relative;
  background-color: var(--primary-black);
  background-image: url("/images/desktop-bg.webp");
  background-size: 100% 80%;
  background-position: top center;
  background-repeat: no-repeat;
  @include media-breakpoint-down(lg) {
    min-height: calc(100vh - 240px);
    background: none;
  }

  :global(.company-typeahead) {
    input {
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      padding-right: 16% !important;

      @include media-breakpoint-down(sm) {
        padding-right: 20% !important;
      }

      @media (max-width: 420px) {
        padding-right: 25% !important;
      }
    }
  }

  :global(.notice-choice) {
    margin-top: 0px !important;
  }
}

.margin {
  margin-top: 184px !important;

  @include media-breakpoint-down(lg) {
    margin-top: 150px !important;
  }

  @include media-breakpoint-down(md) {
    margin-top: 122px !important;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: var(--spacer-8) !important;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    padding: 0px 40px;
  }

  @include media-breakpoint-down(md) {
    padding: 0px 24px;
  }
}

.left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-right: var(--spacer-4);

  @include media-breakpoint-down(lg) {
    padding-right: 0px;
  }
}

.heading {
  font-size: 56px !important;
  font-weight: 500 !important;
  font-family: var(--font-body) !important;
  line-height: 115%;
  @include media-breakpoint-down(lg) {
    font-size: 44px !important;
  }

  @include media-breakpoint-down(md) {
    font-size: 32px !important;
  }
}

.imageContainer {
  @include media-breakpoint-down(lg) {
    display: flex;
    justify-content: center;
  }
}

.imageHero {
  object-fit: contain;
  width: 100%;
  height: auto;
  max-width: 648px;
  max-height: 480px;
}

.right {
  max-width: 500px;
  height: fit-content;
  padding: 40px;
  display: flex;
  border-radius: 20px;
  border: 1px solid var(--color-gray-Gray-700, #4a4a4a);
  background: var(--color-brand-Black, #000);
  @include media-breakpoint-down(lg) {
    max-width: 100%;
    min-width: 100%;
  }
  @include media-breakpoint-down(md) {
    padding: 24px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: fit-content;
  width: 100%;
}
