@import "../../../../../styles/variables";
@import "~bootstrap/scss/mixins";

// Search Section
.searchSection {
  padding-top: var(--spacer-5);
  padding-bottom: var(--spacer-6);
}

// Responsive adjustments
@include media-breakpoint-down(md) {
  .searchSection {
    padding-top: var(--spacer-4);
    padding-bottom: var(--spacer-5);
  }
}
