@import "../../../../../styles/variables";
@import "~bootstrap/scss/mixins";

// Empty State
.emptyState {
  text-align: center;
  padding: 7.5rem 0;
}

.emptyTitle {
  margin-bottom: 1.5rem;
  color: var(--primary-white);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  
  @include media-breakpoint-down(md) {
    font-size: 1.5rem;
  }
}

.emptyDescription {
  margin-bottom: 3rem;
  color: var(--interface-light-gray-400);
  font-size: 1.25rem;
  line-height: 1.4;
}

.emptyButton {
  height: 51px;
  padding: 0 3rem;
  
  @include media-breakpoint-down(md) {
    height: 60px;
    padding: 1.5rem 4rem;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    max-width: 300px;
  }
}
