@import "../../styles/variables";

.segmentBar {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.filterPill {
  height: 35px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 1rem;
  border-radius: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
