@import "/src/styles/variables";
@import "~bootstrap/scss/mixins";

.hero {
  background-color: var(--primary-black);
  color: var(--primary-white);
  width: 100%;
  padding: var(--spacer-3) 0;

  .back {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: var(--primary-white);
    text-decoration: none;
    margin-bottom: 32px;

    &:hover {
      color: var(--primary-white);
      text-decoration: underline;
    }
  }

  .main {
    margin-bottom: 32px;
  }

  .event {
    color: var(--primary-white);
    opacity: 0.7;
    margin-bottom: 16px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 8px;

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }

    svg {
      transform: rotate(-180deg);
    }
  }

  .title {
    color: var(--primary-white);
    margin-bottom: 16px;
  }

  .speakers {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
  }

  .speaker {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: white;
    object-fit: cover;
    flex-shrink: 0;
  }

  .name {
    color: var(--primary-white);
    opacity: 0.9;
    text-decoration: none;

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }

  .description {
    color: var(--primary-white);
    opacity: 0.8;
  }

  .addToCalendarContainer {

    @include media-breakpoint-up(lg) {
      margin-left: auto;
    }
  }
  

  .details {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 32px;
    font-size: .8rem;

    &__item {
      display: flex;
      align-items: center;
      gap: 8px;
      color: var(--primary-white);

      svg {
        flex-shrink: 0;
      }

      &__data {
        color: var(--primary-white);
      }
    }
  }

  .share {
    margin-top: 16px;
  }

  .addToCalendar {
    color: var(--primary-white);
    margin-left: auto;
    font-weight: 600;
    font-family: var(--font-body);
    line-height: 1em;
    text-transform: uppercase;
    transition: color 0.4s ease;
    display: inline-flex;
    align-items: center;
    gap: var(--spacer-1);
    text-decoration: none;

    &:hover {
      color: var(--interface-purple-50);
    }
  }
}


